# Build outputs
compile_commands.json
build/
dist/
*.egg-info/
*.egg
*.so

# IDE
.idea/
.vscode/
*/cmake-build-*/

# OS
.DS_Store

# Python
*.pyc
__pycache__/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log
